node_modules
sensorTagExample/node_modules/*
sensorTagSlideshow/node_modules/*
noble/browserExample/node_modules/*
noble/exploreExample/node_modules/*
noble/scanExample/node_modules/*
noble/readNotificationExample/node_modules/*
