
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFF;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}


.app {
    width: 80%;
    margin: auto;
    margin-top: 75px;
}

#startPage{
    margin: auto;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

#deviceList{
    list-style-type: none;
    font-size:16px;
    margin-bottom:30px;

}

#deviceList li{
    
    margin-bottom: 20px;
}

#refreshButton, #disconnectButton{
    display: block;
    width:70%;
    height:30px;
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #000;
    color: #FFF;
}

#resultDiv{
    margin-bottom: 50px;
    width:70%;    
    margin: auto;

}