<?xml version='1.0' encoding='utf-8'?>
<widget id="com.beanBLE.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bean BLE</name>
    <description>
        Example to send data to the bean.
    </description>
    <author email="mariapaulasaba@gmail.com" href="http://mariapaulasaba.com">
        Maria Paula Saba
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
